<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ebankingV1">
<listeners>
		<listener class-name="com.ebakingutilities.Reporting" />
	</listeners>

  <test  name="bankingapp test">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.ebankingtest.BaseClass"/>
      <class name="com.ebankingtest.TC_LoginTest_001"/>
      <!--<class name="com.ebankingtest.TC_LoginDDT_002"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
